body
{
	background-color:black;
	padding:0;
	margin:0;
	font-family: 'Cabin', sans-serif;
}

.square
{
	background-color:purple;
	width:30%;
	float:left;
	margin:1.66%;
	padding-bottom:30%;
	transition: background 0.5s;
	
}

#strip
{
	background-color:white;
	color:black;
	padding-left:30%;
	padding-right:30%;
	margin-bottom:20px;
}

#container
{
	margin:0 auto;
	max-width:600px;
}

h1
{
	margin:0;
	padding:100px;
	color:white;
	text-align:center;
	background-color:steelblue;
	text-transform:uppercase;
}

.selected
{
	background-color:blue;
}

button
{
	height:20px;
	margin:4px;
}




