h1
{
	text-align:center;
}

table
{
	margin:0 auto;
}

.br
{
	border-right:2px solid black;
}

.bl
{
	border-left:2px solid black;
}

.bt
{
	border-top:2px solid black;
}

.bd
{
	border-bottom:2px solid black;
}

td
{
	width:75px;
	height:75px;
}
